.prodContainer{
    display: flex;
    align-items: center;
    height: 50vh;
}

.rightSide{
    flex: 50%;
    height: 100%;
    border-left: 1px solid #ddd; 
    padding-left: 100px;
    margin-top: 5%
}

.leftSide{
    flex: 50%;
}
#name, #price, #amount, #category_code{
    padding-left: 10px;
    border: none;
    background-color: #494a4d;
    width: 89%;
    height: 25px;
    border-radius: 5px;
    color: #d1d0c5;
}

#price:focus, #amount:focus, #category_code:focus{
    outline-style: solid;
    outline-color:#d4a916;  
}

#category_code{
    width: 91%;
    margin-bottom: 15px;
}