.prodContainer{
    display: flex;
    align-items: center;
    height: 50vh;
}

.rightSide{
    flex: 50%;
    height: 100%;
    border-left: 1px solid #ddd; 
    padding-left: 100px;
    margin-top: 5%
}

.leftSide{
    flex: 50%;
}
