.historyContainer{
    margin: 50px;
}

.btnView{
    width: 100%;
    height: 20px;
    border: none;
    cursor: pointer;
    transition: 0.7s;
    background-color: #d4a916;
    border-radius: 5px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid #47484b;
    border-radius: 5px;
    z-index: 10;
    background-color: #2d2f32;
    width: 500px;
    max-width: 80%;
}

.modal.active{
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    color: #d4a916;
}

.modal-header .title{
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .closeBtn{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
    color: #d1d0c5;
}

.modal-body{
    padding: 10px 15px;
    color: #d1d0c5;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active{
    pointer-events: all;
    opacity: 1;
}